.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.navBar{
  width: 100vw;
  background-color: aqua;
  color: white;
  font-size: 24px;
  padding: 5px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

nav ul li {
  list-style-type: none;
  margin-right: 1em;
}

nav ul li:hover {
  color: rgba(0,0,0,0.705)
}

nav ul li:active {
  background-color: green;
}



